<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Test Automation">

<!--    <test name="1">-->

<!--        <classes>-->
<!--            <class name="test.WiFiScript" />-->
<!--        </classes>-->
<!--    </test>-->

    <test name="2">

        <classes>
            <class name="test.DummyTest" />
        </classes>
    </test>

</suite>